<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">我们的故事</a>
      <div class="nav-collapse collapse">
        <% if user_signed_in? %>
            <p class="navbar-text pull-right">
              您好，<%= link_to current_user.email, edit_user_registration_path %>
            </p>
        <% end %>
        <ul class="nav">
          <li><a href="/">管理故事</a></li>
          <li class="active"><a href="/storys">我的故事</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container marketing stories">
  <% @events.each_with_index do |event, index| %>
      <div class="featurette">
        <img class="featurette-image pull-<%= index % 2 == 0 ? "right":"left" %>" src="<%= event.img_url %>">
        <h2 class="featurette-heading">
          <%= event.name %>
          <span class="muted"><%= event.left_to_s %></span>
        </h2>
        <p class="lead"><strong><%= event.effect_at %></strong><%= event.description %></p>
      </div>
      <hr class="featurette-divider">
  <% end %>
</div><!-- /.container -->

<script>
    $(function() {
        $("#my-story-nav").addClass("active");
    })
</script>
