<%= form_for(@event, html: {:class => "form-horizontal"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :name %>
    </div>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :description %>
    </div>
    <div class="controls">
      <%= f.text_area :description, :size => '60x5' %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :repeat %>
    </div>
    <div class="controls">
      <%= select(:event, :repeat, [['--Select--', 'NO'], ['Year', 'YEAR'], ['Month', 'MONTH']]) %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :effect_at %>
    </div>
    <div class="controls">
      <%= f.date_select :effect_at, options = {:start_year => 1900} %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :img_url %>
    </div>
    <div class="controls">
      <%= f.text_field :img_url, :class => 'hide' %>
      <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>上传图片</span>
                    <input type="file" name="files[]" multiple="">
                </span>
    </div>
  </div>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :visible %>
      </div>
      <div class="controls">
        <%= f.check_box :visible %>
      </div>
    </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag("提交", :class => "btn btn-success") %>
      <%= link_to '返回', events_path, :class => "btn" %>
    </div>
  </div>
<% end %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('#img-upload').change(function() {
            $(this).upload('/jquery/upload/demo_upload.html', function(res) {
                $(res).insertAfter(this);
            }, 'html');
        });
    });
</script>