
<div class="container marketing stories">
  <% @events.each_with_index do |event, index| %>
      <div class="featurette">
        <img class="featurette-image pull-<%= index % 2 == 0 ? "right":"left" %>" src="<%= event.img_url %>">
        <h2 class="featurette-heading">
          <%= event.name %>
          <span class="muted"><%= event.left_to_s %></span>
          <% if event.visible %>
              <span class="label label-success"><i class="icon-eye-open"></i>可见</span>
          <% else %>
              <span class="label label-warning"><i class="icon-eye-close"></i>不可见</span>
          <% end %>
        </h2>
        <p class="lead"><strong><%= event.effect_at %></strong>&nbsp;&nbsp;<%= event.description %></p>
      </div>
      <div class="pull-right controls-actions">
          <%= link_to '编辑', edit_event_path(event), :class => 'btn btn-large btn-info' %>
          <%= link_to '删除', delete_url(event), :class => 'btn btn-large btn-danger' %>
      </div>
      <hr class="featurette-divider">
  <% end %>
</div><!-- /.container -->

<div class="container">
  <a href="<%= new_event_path %>" class="btn btn-success btn-large btn-block"><i class="icon-plus"></i></a>
</div>

<script>
  $(function() {
      $("#manage-story-nav").addClass("active");
  })
</script>