<div class="container">
  <div class="featurette">
    <img class="featurette-image pull-right" src="<%= @event.img_url %>">
    <h2 class="featurette-heading">
      <%= @event.name %>
      <span class="muted"><%= @event.left_to_s %></span>
    </h2>
    <p class="lead"><strong><%= @event.effect_at %></strong><%= @event.description %></p>
  </div>
</div>